#container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    border: 1px solid rgb(212, 207, 207);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.grid-item {
    flex: 0;
}

